.main {
  width: calc(100% / var(--golden-ratio));
}

.main > * {
  margin-bottom: calc(var(--grid) * 3);
}

.splash {
  font-size: 3rem;
}

.form {
  display: grid;
  gap: var(--grid);
}

.supporting {
  font-size: 1.25rem;
}

.intro {
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 600px;
}

@media screen and (orientation: portrait) {
  .splash {
    font-size: 2rem;
  }

  .main {
    padding-top: var(--grid);
    width: auto;
  }
}
